* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: lightgrey;
}

.tile {
    border: 0.1px solid grey;
}