* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#buttons {
    padding: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.tile {
    border: 0.1px solid grey;
}

.draw {
    background-color: rgb(76, 76, 76);
}